[gui]
	recentrepo = C:/Users/júnior/Challenge1 ALura
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = VMirandaCA
	email = 121330983+VMirandaCA@users.noreply.github.com
