:root {
    --Cor_Gradiente1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --Cor_Gradiente2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    --Cor_Gradiente3:  linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 100%, 92%));

    --Cor1: hsl(0, 36%, 70%);

    --Cor_Texto-Erro: hsl(0, 93%, 68%);

    --Cor_Texto-Titulo:hsl(0, 6%, 24%);

    --JosefinSans: 'Josefin Sans', sans-serif;
}

/* estilização do projeto*/
*{
    box-sizing: border-box;
}

body{
    font-family: var(--JosefinSans);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--Cor_Gradiente1);
}
.logo {
    width: 50%;
    margin: 0 0 1rem 1rem;
    
}
.container__esquerda {
    display: flex;
    flex-wrap: wrap;
}
.container_esquerda_texto {
    height: auto;
    margin: 2rem;
    display: flex;
}
.container_esquerda_texto-titulo {
    font-weight: bold;
    font-size: 2.785rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--Cor_Texto-Titulo);
    text-align: center;
}
span {
    font-weight: 100;
    color: var(--Cor1);
}
.container_esquerda_texto-resumo {
    color: var(--Cor1);
    font-size: small;
    font-weight: bold;
    line-height: 1.5rem;
    text-align: center;  
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15%;
}
form #email {
    display: flex;
    border: 1px solid var(--Cor1);
    margin: 5% 5% 5% 10%;
    width: 100%;
    border-radius: 5rem;
}

input {
    border: none;
    background: none;
    color: var(--Cor1);
    font-weight: 300;
    font-size: 1rem;
    width: 60%;
    padding: 1rem 0;
    margin-left: 2rem;
    border-color: none;
    outline: none;
    opacity: 0.4;
}
.email_icone_erro {
    display: none;
    position: relative;
    width: 2rem;
    height: 50%;
    top: 25%;
    right: 1rem;

}
button {
    background-image: var(--Cor_Gradiente2);
    border: none;
    border-radius: 2rem;
    height: auto;
    width: 25%;
    position: relative;
    box-shadow: 0 0 18px 1px var(--Cor1); 
}
button:hover {
    background-image: var(--Cor_Gradiente3);
    transition: all 1.s ease-in-out;
}
.erro {
    border: var(--Cor_Texto-Erro);
}
.email_texto {
    margin-right: 10%;
    color: var(--Cor_Texto-Erro);
    display: none;
}
footer {
    display: none;
}

/* Responsivo*/

@media  only screen and (min-width: 320px) {
    .logo {
        padding: 1.5rem;
    }
    #picture_desktop {
        display: none;
    }
    #picture_mobile {
        display: block;
        width: 100%;
        margin-bottom: 2.8rem;
    }
}
@media only screen and (min-width: 768px) {
    body {
        background: var(--Cor_Gradiente1);
    }
    .logo {
      width: 60%;
      margin: 1rem 1rem;
    }
    .container_esquerda_texto-titulo {
        font-weight: 700;
        font-size: 7rem;
        margin-top: 3rem;
    }
    .container_esquerda_texto-resumo {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 2rem;
    }
    button  {
        height: 4rem;
        right: 0.1rem;
        right: -5%;
    }
    form {
      width: 100%;
    }
    .email_icone_erro {
        right: .5%;
    }
    .email_texto {
        font-size: 1.75rem; 
    }
    input {
        font-size: 1.75rem;
    }
    #picture_desktop {
        display: none;
    }
    #picture_mobile {
        display: block;
        width: 100%;
        margin-bottom: 2.8rem;
    }
}
@media screen and (min-width: 1024px) {
    body {
     background: var(--Cor_Gradiente1);
     display: flex;
     flex-direction: row;
    }
   .logo {
    display: flex;
    width: 90%;
    background-color: transparent;
    flex-wrap: wrap;
    padding: 0 4rem;
   }
   .container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -10rem;
   }
    .container__esquerda {
        background-image: url(../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-top: 10rem;
        padding: 0 5rem 0;
    }
    .container_esquerda_texto-titulo {
       font-size: 6rem;
       text-align:justify;
    }
    .container_esquerda_texto-resumo {
        font-size: 1rem;
        text-align: left;
        padding: 0 3rem 5rem 0.75rem;
    }
    form #email{
        margin: 0 -5% 0 -5%;
        width: 100%;
    }
    .email_seta {
        width: 25%;
        opacity: .7;
    }
    .email_texto {
        margin-top: 1rem;
    }
    button {
        height: 100%;
        right: -9.3%;
    }
   #picture_desktop {
    display: flex;
    height: 100%;
   }
   #picture_mobile {
    display: none;
   }
}