:root {
    --Cor_Gradiente1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --Cor_Gradiente2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    --Cor1: hsl(0, 36%, 70%);
    --Cor2: hsl(0, 93%, 68%);

    --Cor_Texto-Titulo:hsl(0, 6%, 24%);

    --JosefinSans: 'Josefin Sans', sans-serif;
}

/* estilização do projeto*/

body{
    font-family: var(--JosefinSans);
    margin: 0;
}
.container {
    display: flex;
}
.logo {
    width: 25%;
    max-height: 630px;
}
.container_direita_texto {
    width: 60%;
    height: auto;
    margin: 2rem;
    display: flex;
}
.container_direita_texto-titulo {
    font-weight:bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--Cor_Texto-Titulo);
}
span {
    font-weight: 100;
    color: var(--Cor1);
}
.container_direita_texto-resumo {
    color: var(--Cor1);
    font-size: small;
    font-weight: bold;
    line-height: 1.5rem;
}
form {
    border: 1px solid var(--Cor1);
    width: 80%;
    margin: 2rem 3rem 6rem;
    border-radius: 5rem;
}
input {
    border: none;
    background: none;
    color: var(--Cor1);
    font-weight:300;
    font-size: ;
    padding: 0 2rem;

}
.email_icone_erro {
    /*display: none;*/
    position: relative;
    top: 0;
}
button {
    background-image: var(--Cor_Gradiente2);
    border: none;
    border-radius: 5rem;
    padding: 0.938rem;
    position: absolute;
    right: -9%;
    height: 2.89rem;
    width: 4rem;
}

.email_texto {
   /* display: none;*/
}

.container_esquerda_foto {
    width: 40%;
}
.foto_modelo {}

/*
form {
    position: relative;
}

input{
    background-color: transparent;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 3.125rem;
    font-size: 1rem;
    padding: 0.93rem;
    height: 3.438rem;
    width: 100%;
}
button{
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 2px 5px 10px hsla(0, 36%, 70% 0.5);
    border: none;
    border-radius: 3.125rem;
    padding: 0.938rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 3.438rem;
    width: 6.25rem;
}
button:hover {

}
.email_icone_erro{
    position: absolute;
    top: 0.938rem;
    right: 6.875rem;
}

.email_texto {
    color:  hsl(0, 93%, 68%);
    display: block;
    margin-top: 15px;
    margin-left: 30px;

}
*/
footer {
    display: none;
}

/* Responsivo*/

@media(max-width:768px) {
    body {
        background-color: none;
    }
    header {
        background-color: var(--Cor_Gradiente1); 
    }
    .logo {
        padding: 1.5rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #picture_desktop {
        display: none;
        width: 100%;
    }
    .container_direita_texto-titulo {
        text-align: center; 
        margin-top: 3rem;
    }
    .container_direita_texto-resumo {
        text-align: center;
        margin: 1rem 2.5rem;
       
    }
    form {}
    input {}
    .email_icone_erro {}
    button .email_seta {}
    p .email_texto {}
   
}  
@media(min-width:768px) {
    
    .container {}
    .container_direita {}
    .topo_logo {}
    .container_direita_texto-titulo {}
    h1 {}
    span {}
    p .container_direita_texto-resumo {}
    form {}
    input {}
    .email_icone_erro {}
    button .email_seta {}
    p .email_texto {}
    .container_esquerda_foto {}
    .foto_modelo {}

}
@media (min-width:1024px) {
    .topo_logo {}
    .logo {

    }
    .container {
        
    }
    .container_direita_texto-titulo {
        
    }
    span {}
    p .container_direita_texto-resumo {}
    form {}
    input {}
    .email_icone_erro {}
    button .email_seta {}
    p .email_texto {}
   #picture_mobile {
    display: none;
   }
   #picture_desktop {
    display: block;
   }
}
